<!--
  Generated template for the MyTeamsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button menuToggle="" ion-button>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Deporte Base</ion-title>
  </ion-navbar>

  <ion-toolbar color="secondary">
    <ion-title>Favoritos</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding>

  <ng-template>
    <ion-card>
      <ion-card-header>Sin equipos favoritos</ion-card-header>
      <ion-card-content>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi consequuntur corporis facilis ipsa minima natus
          reiciendis vitae? Delectus dolorem est maiores nam quia reprehenderit, voluptatibus?</p>
        <p>Commodi dolorum, eaque facilis fugit in ipsum, iste itaque labore minima necessitatibus nesciunt nulla
          provident quae quisquam similique totam, ullam ut veritatis voluptates voluptatibus. Qui.</p>
      </ion-card-content>

      <button ion-button color="secondary"
              round outline
              (click)="goToTournaments()">Torneos
        <ion-icon padding-left name="search"></ion-icon>
      </button>
    </ion-card>
  </ng-template>

  <ion-card *ngIf="favorites; else nofav">
    <ion-list>
      <ion-list-header>Mis equipos favoritos</ion-list-header>
      <button ion-item *ngFor="let item of favorites"
              (click) = "favoriteTapped(item)">
        <ion-icon name="star"></ion-icon>
        {{item?.team?.name}}
        <p>{{item?.tournament?.name}}</p>
      </button>
    </ion-list>

    <ion-card-content>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A asperiores consectetur, doloremque, facilis illo
        magni maxime molestias nobis nostrum numquam qui sint sit velit? Blanditiis.</p>
      <p>Culpa dignissimos dolorum, eius eligendi error et explicabo facere id inventore necessitatibus omnis possimus
        quam quibusdam quod ratione tempore voluptas. Dicta ducimus eum maiores nemo?</p>
    </ion-card-content>

    <button ion-button color="secondary"
            round outline
            (click)="goToTournaments()">Torneos
      <ion-icon padding-left name="search"></ion-icon>
    </button>

  </ion-card>

</ion-content>
